In [178]:
import pandas as pd
import numpy as np
import re

In [113]:
df =pd.read_csv('./input/GSAF5.csv', engine="python")

In [114]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [172]:
df.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN

In [116]:
df.shape

(5992, 24)

In [117]:
for col, numnulls in df.isnull().sum().items():
    if numnulls>0:
        print (f"{col} {numnulls}")

Country 43
Area 402
Location 496
Activity 527
Name 200
Sex  567
Age 2681
Injury 27
Fatal (Y/N) 19
Time 3213
Species  2934
Investigator or Source 15
href formula 1
href 3
Unnamed: 22 5991
Unnamed: 23 5990

In [171]:
#Se eliminan las siguientes columnas: pdf, href values, href, original order, Unnamed: 22 y Unnamed 23.

df_minColumns= df.drop (['pdf', 'href formula', 'href','original order', 'Unnamed: 22','Unnamed: 23'],axis=1)
df_minColumns.head(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Case Number.1,Case Number.2
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a

In [181]:
#Se comprueba si existen Case Number duplicados:

#duplicados=df_minColumns[df_minColumns.duplicated()]

df_minColumns['Case Number'].is_unique

df_minColumns[df_minColumns['Case Number'].duplicated()]

len(df_minColumns[df_minColumns['Case Number'].duplicated()])

16

In [189]:
#Se considera que Case Number debe ser un campo de valores Ãºnicos. Se eliminan 16 resultados, manteniendo los Case Number que se muestran primero en la lista
df_nonDup=df_minColumns['Case Number'].drop_duplicates()
display(df_nonDup)

0       2016.09.18.c
1       2016.09.18.b
2       2016.09.18.a
3         2016.09.17
4         2016.09.15
            ...
5987         ND.0005
5988         ND.0004
5989         ND.0003
5990         ND.0002
5991         ND.0001
Name: Case Number, Length: 5976, dtype: object

In [190]:
#Depurando campos Date:

df_minColumns['Date'].isnull().sum()

0